body {
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 21px;
}

.title-main {
    font-family: "PTSans", sans-serif;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 33px;
}

.title {
    font-family: "PTSans", sans-serif;
    font-size: 21px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
}

.presentation-features-title {
    font-family: "PTSans", sans-serif;
    font-size: 21px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
}

.title-booking {
    font-family: "PTSans", sans-serif;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
}

.title-hotel-list {
    font-family: "PTSans", sans-serif;
    font-size: 21px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
}


