body {
    width: 1280px;
    min-height: 2762px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    font-family: "PTSans", "Arial", sans-serif;
    color: #333333;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.main-headar {
    width: 1200px;
    min-height: 71px;
    margin-left: 40px;
    outline: 2px solid red;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 71px;
    outline: 2px solid orange;
}

.main-logo {
    order: 1;
    outline: 2px solid blue;
    z-index: 1;
}

.sait-navigation {
    display: flex;
    justify-content: space-between;
    width: 340px;
    min-height: 17px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    outline: 2px solid brown;
}

.navigation-left {
    margin-left: 73px;
}
.navigation-right {
    order: 2;
    margin-right: 73px;
}

.sait-navigation li {
    list-style: none;
}

.sait-navigation a:link {
    color: #000000;
}
.sait-navigation a:visited {
    color: #766357;
}

.sait-navigation a:hover {
    color: #81b3d2;
}
.sait-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.container {
    width: 1200px;
    margin-left: 40px;
}

.banner {
    margin-top: -15px;
    margin-bottom: 61px;
}

.presentation-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    min-height: 99px;
    margin-bottom: 55px;
    outline: 2px solid red;
}

.main-idea {
    width: 576px;
    min-height: 50px;
    margin-bottom: 34px;
    outline: 2px solid blue;
}

.presentation-features-item {
    width: 576px;
    min-height: 16px;
    outline: 2px solid orange;
}

.title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.title-main {
    font-size: 30px;
    line-height: 33px;
    text-align: center;
}

.title-booking {
    font-size: 30px;
    line-height: 36px;
}

.main-idea {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.presentation-features-item {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    color: #333333;
}

.container-features,
.container-features .title {
    color: #ffffff;
    text-align: center;
}

.features-first,
.features-second {
    background-color: #81b3d2;
}

.features-priority-list {
    text-align: center;
}

.features-end-list {
    text-align: center;
    background-color: #eeeeee;
}

.features-priority-list li,
.features-end-list li {
    list-style: none;
}



.booking-proposal-info {
    line-height: 24px;
    text-align: center;
}

.booking-proposal {
    text-align: center;
}

.booking-proposal a:link,
.search-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    vertical-align: middle;
}

.booking-proposal a:hover {
    background-color: #604e43;
}

.booking-proposal a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.modal p {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}


.modal input {
    font: inherit;
    background-color: #f2f2f2;
    border: none;
}

.modal input:hover {
     background-color: #ebebeb;
}

.modal input:focus {
    background-color: transparent;
    border: 2px solid #e5e5e5;
}

.grown input,
.children input {
    font-size: 21px;
    line-height: 26px;
    color: #a9a9a9;
}

.grown input:hover,
.children input:hover {
    color: #000000;
}

.grown input:focus,
.children input:focus {
    border:none;
    background-color: #f2f2f2;
}

.grown input:active,
.children input:active {
    color: #81b3d2;
}

.search-button:link {
    background-color: #81b3d2;
}

.search-button:focus {
    border: none;
}

.search-button:hover {
    background-color: #669ec0;
}

.search-button:active {
    color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.footer-social li {
  list-style: none;
}

.footer-info {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.main-footer p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
}


.search-filter {
    color: #ffffff;
    text-align: left;
    background-color: #3a5668;
    background-image: url("../img/Background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.search-filter li {
    list-style: none;
}

.search-filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.search-filter fieldset {
    border: none;
}

.filter-button {
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.filter-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.search-line {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.search-line li {
    list-style: none;
}

.search-line p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

}

.search-line-list a:link {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.search-line-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.search-line-list a:active {
    color: #000000;
    border-bottom: none;
}

.search-line-list a:visited {
    color: #81b3d2;
    border-bottom: none;
}


.search-line-list {
    text-align: left;
}
.search-line-list a:active {
    color: #000000;
}

.middle-list {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.hotel-list .subtitle-link {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;

}

.hotel-list .subtitle-link:hover {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #81b3d2;
}

.hotel-list .subtitle-link:active {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #3a5668;
}

.button-link,
.list-rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}

.link-detailed {
    background-color: #81b3d2;
}

.link-detailed:hover {
    background-color: #669ec0;
}

.link-detailed:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.link-booking {
    background-color: #766357;
}

.link-booking:hover {
    background-color: #604e43;
}

.link-booking:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.list-rating {
    font-weight: normal;
    color: #666666;
    background-color: #f2f2f2;
}

